.footer {
    background-image: url("../../assets/imagenes/fondo3.jpg");
    background-size: auto;
    box-shadow: rgba(255, 69, 131, 0.623) 4px 4px 4px 4px;
    display: inline;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 2.5rem;
    width: 100%;
    padding-left: 3em;
}

.icono {
    width: 1.8rem;
    height: 1.8rem;
}

.texto {
    font-family: 'Jost', sans-serif;
    color: black;
    font-size: 2rem;
}

@media screen and (max-width: 600px){
    .footer{
        max-width: 600px;
        padding-left: 0;
    }

   }